@import "src/styles/var.scss";
@import "src/styles/colors.scss";

#masthead-container {
  width: calc(100%);
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: $sp1;
  background: $sunglasses;

  #signature-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: auto;

    #signature {
      text-align: center;
      font-family: Georgia;
      font-size: 54px;
      color: $snow;
    }
  }
  
}
