@import "src/styles/colors.scss";
@import "src/styles/var.scss";
#app-main {
    width: 100%;
    min-height: 100vh;
    background-image: url("../assets/dino-seamless-tiles.jpg");
    display: flex;
    flex-direction: column;

    #app-content {
        flex: auto;
    
        #center-column {
            width: 80%;
            background-color: $ice;
            margin-left: auto;
            margin-right: auto;
            padding-left: $sp3;
            padding-right: $sp3;
        }
    }
}
