@import "src/styles/colors.scss";
#landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  app-post {
    border-bottom: 3px solid $seagween;
    &:last-child {
        border-bottom: none;
    }
  }
}