<div id="about-container">
    <div id="portrait-container">
        <img src="assets/jessie-waterfall.jpg" id="about-portrait">
    </div>
    <div id="bio">
        <p>I'm Jessie, and I've been an artist my whole life.</p>
        <p>
            My inspiration is equal parts fantasy and nature. I see these as the invention of man and the invention of God and I
            often represent both in my creations.
        </p>
        <p>
            I strive to let my art drive the storytelling in my childrens' books. I create digital illustrations as well as write
            my own narratives and poems. I also sew custom hats. I work on commission for both the illustrations and hats.
        </p>
    </div>
</div>